fastapi
uvicorn  # this is needed to run FastAPI
python-multipart  # this is commonly needed when using Form and UploadFile in FastAPI
pymongo
langchain  # note that if langchain has a PyPI package, you should specify its version as well
python-dotenv
pydantic
motor  # if you're using async with pymongo you might need this instead of pymongo
openai==0.28.1
